.alink-style {
    color: #3c4858;
}
.alink-style:hover {
    color: #e91e63 !important;
    text-decoration: none;
}
.pagination > li {
    border: 1px solid #d2dce8;
    padding: 5px 15px;
}
.pagination > li > a {
    color: #8f9eaa;
}
